@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

.alles{
    width: 70%;
    margin-left: 15%;
}

*{background-color: #050505;}

 .navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
  
  }

  .navlist {
    float: left;
  }

  
  .navlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
    margin-left: 23px;
    font-family: "Nunito", sans-serif;
    font-weight: 1500;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navlist a:hover {
    color: #ff344c;
    font-family: "Nunito", sans-serif;
    font-weight: 1500;
  }

  .navlist_active{
      float: left;
      font-family: "Nunito", sans-serif;
    font-weight: 1500;
  }

  .navlist_active a{
    display: block;
    color: #ff344c;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
    margin-left: 23px;
    font-family: "Nunito", sans-serif;
    font-weight: 1500;
  }
  .navlist_active a:hover {
    color: #ff344c;
  }

  
.leeruitkomsten_1ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    
}

.leeruitkomsten_1li {
    float: left;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.leeruitkomsten_1li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 147px;
    text-decoration: none;
    margin-left: 90px;
    padding-right: 85px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    margin-top: 120px;
}

.leeruitkomsten_1li a:hover{
    color: #ff344c    ;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.leeruitkomsten_2ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    margin-bottom: 100px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    
}

.leeruitkomsten_2li {
    float: left;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.leeruitkomsten_2li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
   margin-left: 148px;
    padding-right: 80px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.leeruitkomsten_2li a:hover{
    color: #ff344c;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}



.Overmij1ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    margin-bottom: 70px;
    text-align: right;
}


.Overmij1li {
    float: right;
    color: white;
}

.Overmij1li a{
    display: block;
    color: #FC6666;
    text-align: center;
    padding: 14px 135px;
    text-decoration: none;
   margin-right: 126px;
}



.Overmij2ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    margin-bottom: 70px;
    text-align: right;
}


.Overmij2li {
    float: right;
    color: white;
}

.Overmij2li a{
    display: block;
    color: #FC6666;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
   margin-right: 189px;
   
}

.whitetext 
{ 
    color: white; 
} 

.rechthoek{
position: absolute;
left: 20%;
top: 50%;
transform: translate(-50%,-50%);
width: 200px;
height: 330px;
background: #ff344c;
}

.merijnfoto{
    position: absolute;
    left: 19%;
    top: 48%;
    transform: translate(-50%,-50%);
}

.H1{
    color: white;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}
.H2{
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    
}
.H3{
    color: white;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
}
.H4{
    color: white;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 100;
}
.H1red{
    color: #ff344c;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}
.H2red{
    color: #ff344c;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}
.lance_logo{
    background-color: #ff344c;
}

.Moodboard1{
    width: 624px;
    height: 468px;
}

.button{
    font-family: "Nunito", sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    color: #ff344c;
  
    border: solid  2px #ff344c;
    border-radius: 50px;
  
    padding: 10px 15px;
  
    transition-duration: 200ms;
    text-decoration: none;
    
    
  }

.button:hover {
    background-color: #ff344c; 
    color: white;
   
  }

  .container{
      width: 1000px;
     padding-right: 300px;
  }

 .pijl_vooruit{
width: 40px;
height: 40px;

 }

 .pijl_terug{
    width: 40px;
    height: 40px;
    
     }
    
     .arrow {
        border: solid #ff344c;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 3px;
        width: 10px;
        height: 10px;
        
      }
      
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      
      .container{
          text-align: left;
          padding-inline: 20px;
      }

      .rij{
       display: flex;
      }
      .container2{
          
      }

      .container3{
          text-align: center;
      }
    .logoslance2{
width: 400px;
height: 400px;
      }

      .portfolio_voorbeeld{
width: 550px;
height: 300px;
      }

      .pocplaatjeklikken{
          width: 500px;
          height: 300px;
      }
      .brandguide_{
          width: 400px;
          height: 400px;
      }
      .todolist_{
          width: 400px;
          height: 400px;
      }
      .todolist_2{
          width: 500px;
          height: 300px;
      }
      .lance_logo1{
width: 350px;
height: 450px;
      }

.concurrentie_{
    width: 350px;
    height: 350px;
}

.balbewegen_1{
    width: 400px;
    height: 300px;
}

.balbewegen_3{
    width: 500px;
    height: 300px;
}

.navfont{
    font-size: 35px;
}

.Lfont{
    font-size: 17px;
}

.inhoud_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.inhoudli a{
    display: block;
    color: white;
    text-align: center;
    padding: 6px 147px;
    text-decoration: none;
   
    font-family: "Nunito", sans-serif;
    font-weight: 300;
 
}
.inhoudli{
    float: left;
}



.inhoud {
    width: 70%;
    margin-left:14%
    
}

.portfolio_item {
    width: 30%;
    margin-left: 3%;
    float: left;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    margin-bottom: 65px;
}

.portfolio_item a {
    text-decoration: none;
    color: white;
}

.portfolio_item a:hover{
    color: #ff344c    ;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}
.fslance{
    width: 500px;
    height: 400px;
}