@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');


*{background-color: #050505;}

 .navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
  
  }

  .navlist {
    float: left;
  }

  
  .navlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
    margin-left: 23px;
    font-family: "Nunito", sans-serif;
    font-weight: 1500;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navlist a:hover {
    color: #E42F1C;
    font-family: "Nunito", sans-serif;
    font-weight: 1500;
  }

  .navlist_active{
      float: left;
      font-family: "Nunito", sans-serif;
    font-weight: 1500;
  }

  .navlist_active a{
    display: block;
    color: red;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
    margin-left: 23px;
    font-family: "Nunito", sans-serif;
    font-weight: 1500;
  }
  .navlist_active a:hover {
    color: #E42F1C;
  }

  
.leeruitkomsten_1ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    
}

.leeruitkomsten_1li {
    float: left;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.leeruitkomsten_1li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 147px;
    text-decoration: none;
    margin-left: 50px;
    padding-right: 80px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    margin-top: 120px;
}

.leeruitkomsten_1li a:hover{
    color: #E42F1C;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.leeruitkomsten_2ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    margin-bottom: 100px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    
}

.leeruitkomsten_2li {
    float: left;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.leeruitkomsten_2li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
   margin-left: 100px;
    padding-right: 80px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.leeruitkomsten_2li a:hover{
    color: #E42F1C;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}



.Overmij1ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    margin-bottom: 70px;
    text-align: right;
}


.Overmij1li {
    float: right;
    color: white;
}

.Overmij1li a{
    display: block;
    color: #FC6666;
    text-align: center;
    padding: 14px 135px;
    text-decoration: none;
   margin-right: 126px;
}



.Overmij2ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
    margin-bottom: 70px;
    text-align: right;
}


.Overmij2li {
    float: right;
    color: white;
}

.Overmij2li a{
    display: block;
    color: #FC6666;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
   margin-right: 189px;
   
}

.whitetext 
{ 
    color: white; 
} 

.rechthoek{
position: absolute;
left: 20%;
top: 50%;
transform: translate(-50%,-50%);
width: 200px;
height: 330px;
background: #FC6666;
}

.merijnfoto{
    position: absolute;
    left: 19%;
    top: 48%;
    transform: translate(-50%,-50%);
}

.H1{
    color: white;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.lance_logo{
    background-color: #FC6666;
}

.Moodboard1{
    width: 624px;
    height: 468px;
}

.button{
    font-family: "Nunito", sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    color: #ff4931;
  
    border: solid  2px #ff4931;
    border-radius: 50px;
  
    padding: 10px 15px;
  
    transition-duration: 200ms;
    text-decoration: none;
    
  }

.button:hover {
    background-color: red; 
    color: white;
  }

  .container{
      width: 1000px;
     padding-right: 300px;
  }